page-home {
  ion-slides {
    .swiper-slide {
      background-color: #777;
      height: 20rem;
      padding: 1rem;
      color: #fff;

      h2 {
        font-size: 2rem;
      }
      p {
        font-size: 1.2rem;
      }
    }
  }
}
