page-home {
  ion-slides {
    $slide-height: 20rem;

    height: $slide-height;

    .swiper-slide {
      background-color: #777;
      height: $slide-height;
      padding: 1rem;
      color: #fff;

      h2 {
        font-size: 2.2rem;
      }
      p {
        font-size: 1.2rem;
      }
    }
  }
}
